
/* General */

h1, h2, h3, h4, h5, h6 {
  font-family: "markazi text";
 
}

/* Header */

#header .logo {


}

@media (max-width: 768px) {
  #header .logo {
   
  
  }

  #header .navbar{
   
    display: none;
  
  }
 
}


/* Nav */

nav li{

  list-style-type: none;
}

nav li a{

  text-decoration: none;
  color: black;
}

nav li a:hover{
  color: #495E57
}

.myBox{

  height: 60px;
}

/* Main */

.main-box{

  height: 500px;
}


/* Footer */

#footer{

  font-size: 14px;
  background: #37517e;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #495E57;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
 
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
 
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #EE9972;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  text-decoration: none;
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: underline;
  color: #EE9972;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #495E57;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #EE9972;
  color: #fff;
  text-decoration: none;
}



/* Hamburger Menu */


.menu {
  display: none;
}

.menu.show {
  display: block;
}

.hamburger .line {
  width: 60px;
  height: 3px;
  background: #000;
  margin: 5px;
}



/* Hero  */

#hero{
  width: 100%;
  height: 60vh;
  background: #495E57;
  
  
}

.theRow{
  position: relative;
}

#hero .text-btn{
  position:absolute;
  top: 150px;
}

#hero .container-fluid {
  padding: 40px 0px 0 320px;
  

}

#hero h1{
  color: #F4CE14;
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight:900;
  line-height: 56px;
}

#hero h2{
  color: white;
  margin-top: 20px;
  
}

#hero p{
  color: white;
  
  
}



#hero img{

  height: 500px;
  border-radius: 12px;
}

#hero .btn-reserve-a-table{

  background:  #F4CE14;
  margin-top: 70px;
}


@media (max-width: 768px) {
  #hero .container-fluid {
    padding: 10px 0px 0 0px;
  }

  #hero h1{
    color: #F4CE14;
    margin: 5px 0 0 10px;
    font-size: 48px;
    font-weight:400;
    line-height: 56px;
  }

  #hero h2{
    margin:0px 0 30px 10px;
  }
  #hero p{
    margin: 5px 0 0 10px;

  }
  #hero .btn-reserve-a-table{

    background:  #F4CE14;
    margin: 90px 0 0 10px;
  }

  .theRow{
    position: relative;
  }
  #hero .text-btn{
    position:static;
    
  }
  #hero img {
    height: 200px;
    width: 170px;
    margin:  auto;
    
    
  
  }

}



.flex-box{

  display: flex;
}

.box{

  padding: 40px;
  margin: 10px;
  border: 1px solid red;
}   */



/* Fresh Stylling */

/* General */

body{
  font-family: karla ,Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{

  font-family: 'Markazi Text', serif;
}

a{

  color: black;
  text-decoration: none;
}

a:hover{

  color: #495e57;
}


/* Header */

#header {

  display: flex;
  justify-content: center;
 background: white;
 

}

#header img{

  height: 40px;
  margin: 12px 0;

}

/* Nav */

#nav ul{

  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: center;
  

}

#nav li{

  list-style-type: none;
}

#nav li a{

  display: inline-block;
  padding: 20px 10px;
 
}

#nav li a:hover{

  color: #495e57;
}

@media (max-width: 768px) {
  #nav ul a{

      display: none;

  }
}


/* Hero */

#hero .hero{

  background-color: #495e57;
  width: 100%;
  height: 60vh;
}

#hero img{

  max-height: 500px;
  padding: 30px 0;

}

#hero h1{

  color:#f4ce14;
}

#hero .hero-title{

  display:grid;
  grid-template-columns:  300px;
  justify-content: end;
  color: white;
  padding:30px 20px;

}

#hero a{

  background: #f4ce14;
  border-radius: 12px;
  padding: 10px 25px;
  
}

#hero a:hover{

  background: #f4ce14;
  color: black;
  border-radius: 12px;
  padding: 10px 25px;
  
}

@media (max-width: 768px) {
  #hero .hero-title{

    display:grid;
    grid-template-columns:  1fr;
    justify-content: end;
    padding:30px 20px;

  }

  #hero img{

    max-height: 300px;
    max-width: 200px;
    border-radius: 12px;

  
  }

  }




  /* Specials */

  #specials .specials{

    display: flex;
    justify-content: space-evenly;
    margin: 80px 10px;
  }


  #specials .card-title > p{
    font-weight: bold;
  }

  #specials .card-title p + p{
    color:rgb(234, 105, 50)
  }


  /* Rough Specials */

  #specials .img-box{

    width: 30%;
  }

  #specials .card{

    width: 100%;
    
  }

  @media (min-width: 768px) {
   
    #specials .img-box{

      width: 100%;
    }

    #specials .card{

      width: 18rem;

    }

    }

    #specials button{

      background: #f4ce14;
      color: black;
    }




    /* Footer */

    #footer{

      font-size: 14px;
      background: #37517e;
    }

    #footer .footer-top {
      padding: 60px 0 30px 0;
      background: #fff;
    }

    #footer .footer-top h4 {
      font-size: 16px;
      font-weight: bold;
      color: #495E57;
      position: relative;
      padding-bottom: 12px;
    }


    #footer .footer-top .footer-contact {
      margin-bottom: 30px;
    }

    #footer .footer-top .footer-links {
      margin-bottom: 30px;

    }

    #footer .footer-top .footer-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    #footer .footer-top .footer-links ul i {
      padding-right: 2px;
      color: #EE9972;
      font-size: 18px;
      line-height: 1;
    }
    #footer .footer-top .footer-links ul li {
      padding: 10px 0;
      display: flex;
      align-items: center;
    }
    #footer .footer-top .footer-links ul li:first-child {
      padding-top: 0;
    }
    #footer .footer-top .footer-links ul a {
      text-decoration: none;
      color: #777777;
      transition: 0.3s;
      display: inline-block;
      line-height: 1;
    }
    #footer .footer-top .footer-links ul a:hover {
      text-decoration: underline;
      color: #EE9972;
    }
    
    #footer .footer-top .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #495E57;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }
    #footer .footer-top .social-links a:hover {
      background: #EE9972;
      color: #fff;
      text-decoration: none;
    }
    